#menu-bar {
    background-color: color-mix(in srgb, var(--bg) 80%, rgba(0, 0, 0, 0));
    backdrop-filter: blur(4px);
    view-transition-name: mdbook-menu-bar;
}
#page-wrapper {

}
.page > .content {
    view-transition-name: mdbook-page;
}

@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateX(15px);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
}


::view-transition-old(mdbook-page) {
  animation-name: slideOut;
  animation-duration: 0.3s;
}

::view-transition-new(mdbook-page) {
  animation-name: slideIn;
  animation-duration: 0.3s;

}